* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: black;
    overflow: hidden;
}

h1 { 
    color: rgb(255, 190, 26); 
    font-size: 64px; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
    letter-spacing: 0.5px; 
    font-weight: 400; 
    translate: 0 -50px; 
    text-shadow: 0 0 8px black;
}

p {
    color: white; 
    font-size: 32px; 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    translate: 0 -55px; 
    font-weight: 700; 
    text-shadow: 0 0 6px black; 
    text-align: center;
}

img {
    width: 400px;
    height: auto;
    margin-top: 80px;
}

#pos{
    cursor: pointer;
}

#neg{
    background: linear-gradient(145deg, rgb(219, 5, 5), rgb(249, 65, 65)); 
    box-shadow: 0 0 20px rgb(255, 0, 0);
    cursor: pointer;
    position: relative; /* inicial correto */
}

button {
    width: 250px;
    background-color: black;
    color: white;
    height: 50px;
    font-weight: bold;
    font-size: 16px;
    background: linear-gradient(145deg, rgb(13, 60, 190), rgb(22, 123, 231));
    border: none;
    box-shadow: 0 0 20px rgb(12, 76, 196);
    transition: 0.3s;
}

#pos:hover {
    transform: scale(1.2);
    box-shadow: 0 0 60px rgb(1, 90, 255);
    transition: 0.5s;
}

.botoes {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: -30px;
}

video {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    opacity: 0.6;
    object-fit: cover;
}
